# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# --- Jupyter ---
.ipynb_checkpoints/

# --- VS Code ---
.vscode/

# --- Logs ---
*.log

# --- OS-specific ---
.DS_Store        # macOS
Thumbs.db        # Windows

# --- Models ---
 *.pkl
 *.json
 *.h5


# --- Models ---
 *.pkl
 *.json
 *.h5